//footerbar
.FooterBar {
    height: 40px;
    background-color: firebrick;
    padding: 3px;
}

.pagination {
    margin: 0 auto;
    width: 400px;
    height: 50px;
    ul {
    	list-style: none;
    	li {
            border-style: solid;
            border-color: #DDDDDD;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-right-width: 1px;
            border-left-width: 0px;
    		font-size: 12px;
    		text-align: center;
    		line-height: 37px;
    		width: 35px;
    		height: 35px;
    		display: inline-block;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    	}

        li:first-child {
            border-width: 1px;
        }

        li:first-child::before {
            content: '<<';
        }

        li:nth-child(2)::before {
            content: '<';
        }

        li:nth-last-child(2)::before {
            content: '>';
        }

        li:last-child::before {
            content: '>>';
        }

    	li:hover {
    		cursor: pointer;
    	}

    	.currentPage {
    		background-color: #337AB7;
    	}

    	.hide {
    		display: none;
    	}

        li.disabledBtn {
            cursor: no-drop;
        }
    }
}