html, body, #root, .wrap {
    height: 100%;
}

.TopBar {
    height: 80px;
    padding: 3px;
}

.ContentArea {
    height: calc(100% - 120px);
    overflow-y: auto;
    clear: both;
}

.PathBtn {
    width: 95%;
    height: 35px;
    background-color: white;
    border: 1px solid black;
}

.PathBtn li {
    background-color: transparent;
    margin: 5px 2px 2px 2px;
    display: inline-block;
    color: #4c4c4c;
    &:hover {
        color: #6dc2d7;
        cursor: pointer;
    }
    
    &::before {
        content: '>';
        border: solid 1px white;
        padding: 2px;
        margin: 0 10px 0 0;
    }
}

.FooterBar {
    height: 40px;
    background-color: firebrick;
    padding: 3px;
}

.pagination {
    margin: 0 auto;
    width: 400px;
    height: 50px;
    ul {
    	list-style: none;
    	li {
            border-style: solid;
            border-color: #DDDDDD;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-right-width: 1px;
            border-left-width: 0px;
    		font-size: 12px;
    		text-align: center;
    		line-height: 37px;
    		width: 35px;
    		height: 35px;
    		display: inline-block;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    	}

        li:first-child {
            border-width: 1px;
        }

        li:first-child::before {
            content: '<<';
        }

        li:nth-child(2)::before {
            content: '<';
        }

        li:nth-last-child(2)::before {
            content: '>';
        }

        li:last-child::before {
            content: '>>';
        }

    	li:hover {
    		cursor: pointer;
    	}

    	.currentPage {
    		background-color: #337AB7;
    	}

    	.hide {
    		display: none;
    	}

        li.disabledBtn {
            cursor: no-drop;
        }
    }
}

/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
  position: relative;
  //height: auto;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}

//folder

.folder {
    width: 75px;
    height: 53px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 18px;
    position: relative;
    background-color: #708090;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    &::before {
        content: '';
        width: 50%;
        height: 12px;
        border-radius: 0 20px 0 0;
        background-color: #708090;
        position: absolute;
        top: -12px;
        left: 0px;
    }
}

// file icon
.file-icon {
    font-family: Arial, Tahoma, sans-serif;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 32px;
    background: #018FEF;
    position: relative;
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #FFF #FFF rgba(255,255,255,.35) rgba(255,255,255,.35);
    }
    &::after {
        display: block;
        content: attr(data-type);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
        color: #fff;
        text-transform: lowercase;
        width: 100%;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* fileicons */
.file-icon-xs {
    width: 12px;
    height: 16px;
    border-radius: 2px;
    &::before {
        border-bottom-left-radius: 1px;
        border-width: 3px;
    }
    &::after {
        content: "";
        border-bottom: 2px solid rgba(255,255,255,.45);
        width: auto;
        left: 2px;
        right: 2px;
        bottom: 3px;
    }
}

.file-icon-sm {
    width: 18px;
    height: 24px;
    border-radius: 2px;
    &::before {
        border-bottom-left-radius: 2px;
        border-width: 4px;
    }
    &::after {
        font-size: 7px;
        padding: 2px;
    }
}

.file-icon-lg {
    width: 48px;
    height: 64px;
    border-radius: 3px;
    &::before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }
    &::after {
        font-size: 16px;
        padding: 4px 6px;
    }
  
}

.file-icon-xl {
    width: 72px;
    height: 96px;
    border-radius: 4px;
    &::before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }
    &::after {
        font-size: 24px;
        padding: 4px 10px;
    }
}


.caption {
   text-align: center;
}

/* fileicon.types */
.file-icon[data-type=zip],
.file-icon[data-type=rar] {
  background: #ACACAC;
}
.file-icon[data-type^=doc] {
  background: #307CF1;
}
.file-icon[data-type^=xls] {
  background: #0F9D58;
}
.file-icon[data-type^=ppt] {
  background: #D24726;
}
.file-icon[data-type=pdf] {
  background: #E13D34;
}
.file-icon[data-type=txt] {
  background: #5EB533;
}
.file-icon[data-type=mp3],
.file-icon[data-type=wma],
.file-icon[data-type=m4a],
.file-icon[data-type=flac] {
  background: #8E44AD;
}
.file-icon[data-type=mp4],
.file-icon[data-type=wmv],
.file-icon[data-type=mov],
.file-icon[data-type=avi],
.file-icon[data-type=mkv] {
  background: #7A3CE7;
}
.file-icon[data-type=bmp],
.file-icon[data-type=jpg],
.file-icon[data-type=jpeg],
.file-icon[data-type=gif],
.file-icon[data-type=png] {
  background: #F4B400;
}

.dropdown-toggle {
    float: right;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 91%;
}

.dropdown-menu.show {
    display: block;
}