@import './components/topBar';
@import './components/iconView';
@import './components/footerBar';

html, body, #root, .wrap {
    height: 100%;
}

.ContentArea {
    height: calc(100% - 120px);
    overflow-y: auto;
    clear: both;
}